openapi: 3.1.0
info:
  title: Automox Remote Control Module API
  description: API for use with the Automox Remote Control module
  version: 2025-03-14_TEST
  contact:
    name: Automox Support
    email: support@automox.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://rc.automox.com/api
security:
  - bearerAuth: []
tags:
  - name: Remote Control Configuration
    description: Actions for Remote Control Configuration
paths:
  /config/consent/account/{accountUuid}/org/{orgUuid}/device:
    post:
      tags:
        - Remote Control Configuration
      summary: Configure Remote Control Consent Notifications in bulk.
      description: |-
        Configure Remote Control Consent Notifications in bulk. 
        **See [Using Global API Keys](https://developer.automox.com/developer-portal/api-permission-scopes/#permissions-and-scopes) for more information on permission and scope requirements.**
      operationId: configureConsent
      parameters:
        - name: accountUuid
          in: path
          description: The UUID of the account for which to configure Remote Control Consent Notifications.
          required: true
          schema:
            type: string
            format: uuid
        - name: orgUuid
          in: path
          description: The UUID of the organization for which to configure Remote Control Consent Notifications.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/RemoteControlConsent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteControlConsent'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  requestBodies:
    RemoteControlConsent:
      description: Remote Control Consent
      content:
        application/json:
          schema:
            type: object
            required:
              - device_uuids
              - config
            properties:
              device_uuids:
                type: array
                items:
                  type: string
                  format: uuid
                description: UUIDs of devices to configure RC consent.
                example:
                  - a4603e09-7cab-4e0f-ad6b-c484436e74fc
                  - 1a2b3c4d-5e6f-7a8b-9c0d-e1f2a3b4c5d6
                  - 7a8b9c0d-e1f2-a3b4-c5d6-e7f8a9b0c1d2
              config:
                type: object
                properties:
                  bypass_consent:
                    type: boolean
                    description: Whether to bypass consent.
                    example: true
  schemas:
    RemoteControlConsent:
      type: object
      properties:
        bypass_consent:
          type: boolean
          description: Whether to bypass consent.
          example: true
        unprocessedDeviceUuids:
          type: array
          items:
            type: string
            format: uuid
          description: UUIDs of devices for which consent could not be configured.
          example:
            - a4603e09-7cab-4e0f-ad6b-c484436e74fc
            - 1a2b3c4d-5e6f-7a8b-9c0d-e1f2a3b4c5d6
            - 7a8b9c0d-e1f2-a3b4-c5d6-e7f8a9b0c1d2
  responses:
    Error:
      description: Invalid Request
      content:
        application/json:
          schema:
            properties:
              errors:
                type: array
                maxItems: 1
                items:
                  type: string
          example:
            errors:
              - Validation Error
    Unauthorized:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            properties:
              errors:
                type: array
                maxItems: 1
                items:
                  type: string
          example:
            errors:
              - Unauthorized
    UnauthorizedAction:
      description: You do not have permission to perform this action.
      content:
        application/json:
          schema:
            description: Unauthorized
            type: object
            properties:
              errors:
                type: array
                items:
                  type: string
            required:
              - errors
          examples:
            Unauthorized for this action.:
              value:
                errors:
                  - Unauthorized
    NotFound:
      description: Entity not found
      content:
        application/json:
          schema:
            properties:
              errors:
                type: array
                maxItems: 1
                items:
                  type: string
          example:
            errors:
              - Not found.
    RateLimit:
      description: Too many requests
      content:
        application/json:
          schema:
            properties:
              errors:
                type: array
                maxItems: 1
                items:
                  type: string
          example:
            errors:
              - Too Many Requests!
    ServiceUnavailable:
      description: Service Unavailable
      content:
        application/json:
          schema:
            properties:
              errors:
                type: array
                maxItems: 1
                items:
                  type: string
          example:
            errors:
              - Service Unavailable
