openapi: 3.1.0
info:
  title: Automox Policy Results API
  description: OpenAPI definition for the Automox Policy Results API
  version: v0
  contact:
    name: Automox Support
    url: https://help.automox.com/hc/en-us/requests/new
    email: support@automox.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://policyreport.automox.com
    description: Policy Report Service
security:
  - bearerAuth: []
tags:
  - name: Policy Runs
    description: Actions for Policy Runs Controller
  - name: Run Results
    description: Actions for Run Results Controller
  - name: Policy Count
    description: Actions for Policy Count
  - name: Policy Index
    description: Actions for Policy Index Controller
paths:
  /policy-history/policy-runs:
    $ref: paths/policy-history_policy-runs.yaml
  /policy-history/policy-runs/{policy_uuid}:
    $ref: paths/policy-history_policy-runs_{policy_uuid}.yaml
  /policy-history/policy-runs/grouped-by/policy:
    $ref: paths/policy-history_policy-runs_grouped-by_policy.yaml
  /policy-history/policies/{policy_uuid}/{exec_token}:
    $ref: paths/policy-history_policies_{policy_uuid}_{exec_token}.yaml
  /policy-history/policy-run-count:
    $ref: paths/policy-history_policy-run-count.yaml
  /policy-history/policies:
    $ref: paths/policy-history_policies.yaml
  /policy-history/policies/{policy_uuid}:
    $ref: paths/policy-history_policies_{policy_uuid}.yaml
  /policy-history/policies/{policy_uuid}/runs:
    $ref: paths/policy-history_policies_{policy_uuid}_runs.yaml
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-tagGroups:
  - name: Policy Results History
    tags:
      - Policy Runs
      - Run Results
      - Policy Count
      - Policy Index
