openapi: 3.1.0
info:
  title: Automox Console API
  description: API for use with the Automox Console
  version: '2025-01-27'
  contact:
    name: Automox Support
    url: https://help.automox.com/hc/en-us/requests/new
    email: support@automox.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://console.automox.com/api
security:
  - bearerAuth: []
tags:
  - name: Accounts
    description: Actions for accounts. These API(s) require the Global Admin account RBAC role.
  - name: AMS
    description: API(s) powered by AMS in Phase 1.
  - name: Invitations
    description: Actions for account invitations
  - name: RBAC
    description: Actions for RBAC.
  - name: Users
    description: Actions for users.
  - name: Webserver
    description: API(s) powered by Webserver in Phase 1.
  - name: Account Management
    description: Actions for Account Management. These API(s) require the Global Admin account RBAC role.
  - name: Account Users
    description: Actions for Account User Management. These API(s) require the Global Admin account RBAC role.
  - name: Zone Management
    description: Actions for Zone Management
  - name: Zone Users
    description: Actions for Zone User Management
  - name: Policy Management
    description: Actions related to Policy Management
  - name: API Keys
    description: Actions involving API key objects.
  - name: Approvals
    description: Actions involving manual approvals.
  - name: Commands
    description: Issues a command to an Automox device.
  - name: Devices
    description: Actions for Automox Servers/Endpoints.
  - name: Events
    description: Lists Event Objects for the Authenticated User.
  - name: Extracts
    description: Actions for Data Extracts
  - name: Groups
    description: Actions for Automox Groups.
  - name: Organizations
    description: Actions for Automox Organizations.
  - name: Packages
    description: Software Package Actions.
  - name: Policies
    description: Actions for Automox Policies.
  - name: Reports
    description: Retrieves Automox Reports.
  - name: Users
    description: Actions for Automox Users.
  - name: Vulnerability Sync CSV Actions
    description: Actions involving CSV uploads for Vulnerability Sync
  - name: Vulnerability Sync Action Sets
    description: Actions for Vulnerability Sync Action Sets
  - name: Worklets
    description: Actions for Worklets.
paths:
  /events:
    get:
      operationId: getEvents
      summary: Retrieve all event objects for the authenticated user
      description: 'Events Include: Policy Actions, Device Addition/Removal, User Addition/Removal'
      parameters:
        - name: page
          in: query
          description: The page of results you wish to be returned with page numbers starting at 0. See [About Automox API - Pagination](/developer-portal#pagination)
          required: false
          schema:
            type: integer
            default: 0
        - name: countOnly
          in: query
          description: Use instead of `page` or `limit` to retrieve only the total count of events for the organization, or when used with an `eventName`, retrieve a count of that specific type of event.
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: policyId
          in: query
          description: Retrieve events for a specific policy.
          required: false
          schema:
            type:
              - integer
              - 'null'
        - name: serverId
          in: query
          description: Retrieve events for a specific device.
          required: false
          schema:
            type: integer
        - name: userId
          in: query
          description: Retrieve events for a specific user.
          required: false
          schema:
            type: integer
        - name: eventName
          in: query
          description: Name for the event type.
          required: false
          schema:
            type: string
            enum:
              - org.exceeded_endpoint_limit
              - saml.user.create
              - slack.app.added
              - slack.app.reinstalled
              - system.add
              - system.delete
              - system.group.action
              - system.notification.response
              - system.notification.sent
              - system.patch.applied
              - system.patch.failed
              - system.patch.uninstall
              - system.policy.action
              - user.create
              - user.removed
            x-enumDescriptions:
              org.exceeded_endpoint_limit: Organization Endpoint Limit was exceeded.
              saml.user.create: SAML users were created.
              slack.app.added: Slack integration was added.
              slack.app.reinstalled: Slack integration was reinstalled.
              system.add: Devices were added to the Automox organization.
              system.delete: Devices were removed from the Automox organization.
              system.group.action: A Group action.
              system.notification.response: Notification response events.
              system.notification.sent: Notification sent events.
              system.patch.applied: Patch was successfully installed on a device.
              system.patch.failed: Patch failed to install on a device.
              system.patch.uninstall: Patch was uninstalled from a device.
              system.policy.action: A Policy Action.
              user.create: User created in organization.
              user.removed: User was removed from organization.
        - name: startDate
          in: query
          description: 'Limit responses to include only events after this date. Format: (YYYY-MM-DD).'
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: 'Limit responses to include only events before this date. Format: (YYYY-MM-DD).'
          required: false
          schema:
            type: string
            format: date
        - name: limit
          in: query
          description: A limit on the number of results to be returned, between 1 and 500, with a default of 500. Use with page parameter. See [About Automox API - Pagination](/developer-portal#pagination)
          required: false
          schema:
            type: integer
            default: 500
            maximum: 500
            minimum: 1
        - name: o
          in: query
          description: Organization ID. Response will include devices for the specified Automox organization. The organization will be assumed based on the API key, if not specified.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/Event'
                    example:
                      - id: 250624
                        name: system.add
                        user_id: 754125
                        server_id: 621453
                        organization_id: 8427961
                        policy_id: 123456
                        server_name: Test Device
                        data:
                          ip: 204.168.24.35
                          os: Windows
                          systemname: Test Device
                        policy_name: Test Policy
                        policy_type_name: patch
                        create_time: '2021-07-01T00:00:00Z'
                  - type: object
                    title: CountOnly
                    properties:
                      size:
                        type: integer
                        format: int64
                        examples:
                          - 500
                      results:
                        type: array
                        items:
                          type: string
                        examples:
                          - []
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Events
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/events?o=0000&limit=2&startDate=2019-05-04&endDate=2019-05-07"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Documentation  | Retrieve All Event Objects
          description: 'Retrieves all event objects for the authenticated user. Available filters: policy, device, user, or event type.'
  /servers:
    get:
      operationId: getDevices
      summary: List all devices
      description: Retrieves a detailed list of all devices (server objects) for the authenticated user. **NOTE:** This endpoint is rate limited to <30 requests per minute. Rate limited clients will receive a 429 for 1 minute.
      parameters:
        - name: groupId
          in: query
          description: Filter based on membership to a specific Server Group ID
          required: false
          schema:
            type: integer
        - name: PS_VERSION
          in: query
          description: Shows version of PowerShell running on the device, if applicable.
          required: false
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID. Response will include devices for the specified Automox Organization. The organization will be assumed based on the API key, if not specified.
          required: true
          schema:
            type: integer
        - name: pending
          in: query
          description: 'Filter based on status of pending patches. Format: `pending=1`'
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: patchStatus
          in: query
          description: 'Filter based on presence of ANY available patches that aren''t already installed. Value must be ''missing'' Format: `patchStatus=missing`'
          required: false
          schema:
            type: string
            default: missing
        - name: policyId
          in: query
          description: 'Filter based on association to a given Policy ID. Format: `policyId=12345`'
          required: false
          schema:
            type: integer
        - name: exception
          in: query
          description: 'Filter based on the exception property to exclude the device from reports. Device is still monitored when excluded from reports and statistics. Format: `exception=1`'
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: managed
          in: query
          description: 'Filter based on device''s Managed status. Unmanaged indicates no linked policies. Format: `managed=0`'
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: limit
          in: query
          description: A limit on the number of results to be returned, between 1 and 500, with a default of 500. Use with page parameter. See [About Automox API - Pagination](/developer-portal#pagination)
          required: true
          schema:
            type: integer
            default: 500
            maximum: 500
            minimum: 1
        - name: page
          in: query
          description: The page of results you wish to be returned with page numbers starting at 0. See [About Automox API - Pagination](/developer-portal#pagination)
          required: true
          schema:
            type: integer
            default: 0
        - name: filters
          in: query
          description: Filter on compatible devices
          required: false
          schema:
            type: object
            properties:
              is_compatible:
                type: boolean
          style: deepObject
        - name: sortColumns[]
          in: query
          description: The column you want to sort by.
          schema:
            type: string
            enum:
              - is_compatible
        - name: sortDir
          in: query
          description: The sort direction, ascending or descending.
          schema:
            type: string
            enum:
              - asc
              - desc
            x-enumDescriptions:
              asc: Ascending order
              desc: Descending order
        - name: include_details
          in: query
          description: 'Include device details in response. Format: `include_details=1` See [Automox API Documentation - Servers API - Fast by Default](/developer-portal/servers-fast-by-default)'
          required: false
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
        - name: include_server_events
          in: query
          description: 'Include server events (`reboot_deferral_count` and `patch_deferral_count`) in response. Format: `include_server_events=1`. See [Automox API Documentation - Servers API - Fast by Default](/developer-portal/servers-fast-by-default)'
          required: false
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
        - name: include_next_patch_time
          in: query
          description: 'Include the next patch time in response. Format: `include_next_patch_time=1`. See [Automox API Documentation - Servers API - Fast by Default](/developer-portal/servers-fast-by-default)'
          required: false
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
        - name: exclude_policy_status
          in: query
          description: 'Exclude the policy status in response. Format: `exclude_policy_status=1`. See [Automox API Documentation - Servers API - Fast by Default](/developer-portal/servers-fast-by-default)'
          required: false
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Server'
              examples:
                server-with-details:
                  summary: Example of a server with details
                  value:
                    - id: 123456
                      agent_version: 1.45.48
                      commands: []
                      compatibility_checks:
                        low_diskspace: false
                        missing_wmi_integrity_check: false
                        missing_powershell: false
                      compliant: false
                      connected: false
                      create_time: 2024-12-19T17:42:48+0000
                      custom_name: ''
                      deleted: false
                      detail:
                        VERSION: LNVNB161216
                        VENDOR: LENOVO
                        LAST_USER_LOGON:
                          SRC: TEST
                          USER: TEST\john.doe
                          TIME: 12/25/2024 8:34:32 AM
                        MODEL: 82R9
                        IPS:
                          - 192.168.8.135
                          - bcb6:a517:7ac1:7c98:0b51:bcd3:1183:82a8
                          - 3399:59b4:f568:cada:76b6:ee0c:7a0e:7a75
                          - 41c0:fdce:d075:df45:35b2:c995:7caa:73b8
                          - 44ea:9f49:34e0:ddb6:ec1c:a368:b398:4f03
                          - c5e8:d9d2:91fb:7a69:843b:d575:7dc4:2f44
                        WSUS_CONFIG:
                          WSUS_REACHABLE: '0'
                          WSUS_MANAGED: '0'
                          WSUS_SERVER: ''
                        MDM_PROFILE_INSTALLED: null
                        RAM: '17179869184'
                        CPU: 'AMD Ryzen 5 5500U with Radeon Graphics         '
                        MDM_SERVER: null
                        FQDNS:
                          - TEST.WORKGROUP
                        NICS:
                          - CONNECTED: true
                            VENDOR: MediaTek Wi-Fi 6 MT7921 Wireless LAN Card
                            DEVICE: Wi-Fi
                            TYPE: enet
                            MAC: e9:4f:2b:90:a0:5c
                            IPS:
                              - 192.168.8.135
                              - bcb6:a517:7ac1:7c98:0b51:bcd3:1183:82a8
                              - 3399:59b4:f568:cada:76b6:ee0c:7a0e:7a75
                              - 41c0:fdce:d075:df45:35b2:c995:7caa:73b8
                              - 44ea:9f49:34e0:ddb6:ec1c:a368:b398:4f03
                              - c5e8:d9d2:91fb:7a69:843b:d575:7dc4:2f44
                          - TYPE: enet
                            MAC: e9:4f:2b:90:a0:5d
                            IPS: []
                            CONNECTED: false
                            VENDOR: Bluetooth Device (Personal Area Network)
                            DEVICE: Bluetooth Network Connection
                          - CONNECTED: false
                            VENDOR: Microsoft Wi-Fi Direct Virtual Adapter
                            DEVICE: ''
                            TYPE: enet
                            MAC: c3:1d:1d:e9:94:ef
                            IPS: []
                          - MAC: c3:1d:1d:e9:a4:ff
                            IPS: []
                            CONNECTED: false
                            VENDOR: Microsoft Wi-Fi Direct Virtual Adapter
                            DEVICE: ''
                            TYPE: enet
                          - CONNECTED: false
                            VENDOR: WAN Miniport (IP)
                            DEVICE: ''
                            TYPE: enet
                            MAC: 4a:37:21:70:2e:f0
                            IPS: []
                          - IPS: []
                            CONNECTED: false
                            VENDOR: WAN Miniport (IPv6)
                            DEVICE: ''
                            TYPE: enet
                            MAC: bf:b5:ab:21:b8:63
                          - MAC: cf:b6:ab:21:b8:63
                            IPS: []
                            CONNECTED: false
                            VENDOR: WAN Miniport (Network Monitor)
                            DEVICE: ''
                            TYPE: enet
                        WMI_INTEGRITY_CHECK: 'True'
                        SECURE_TOKEN_ACCOUNT: null
                        VOLUME:
                          - FSTYPE: NTFS
                            LABEL: Windows-SSD
                            AVAIL: '509722226688'
                            FREE: '408418480128'
                            IS_SYSTEM_DISK: 'True'
                            VOLUME: 'C:'
                        PS_VERSION: 5.1.26100.2161
                        UPDATE_SOURCE_CHECK:
                          CONNECTED: 'True'
                          ERROR: Succeeded
                        SERVICETAG: No Asset Tag
                        SERIAL: AB123ZX
                        DISKS:
                          - TYPE: Micron MTFDKCD512TFK
                            SIZE: '512105932800'
                        DISTINGUISHED_NAME: ''
                        AUTO_UPDATE_OPTIONS:
                          OPTIONS: 'off'
                          ENABLED: '1'
                      display_name: TEST
                      exception: false
                      instance_id: ''
                      ip_addrs:
                        - 123.45.67.210
                      ip_addrs_private:
                        - 192.168.8.135
                        - bcb6:a517:7ac1:7c98:0b51:bcd3:1183:82a8
                        - 3399:59b4:f568:cada:76b6:ee0c:7a0e:7a75
                        - 41c0:fdce:d075:df45:35b2:c995:7caa:73b8
                        - 44ea:9f49:34e0:ddb6:ec1c:a368:b398:4f03
                        - c5e8:d9d2:91fb:7a69:843b:d575:7dc4:2f44
                      is_compatible: true
                      is_delayed_by_notification: false
                      is_delayed_by_user: true
                      last_disconnect_time: 2025-01-22T22:18:21+0000
                      last_logged_in_user: TEST\john.doe
                      last_process_time: 2025-01-22T22:02:14+0000
                      last_refresh_time: 2025-01-22T20:10:26+0000
                      last_scan_failed: true
                      last_update_time: 2024-12-25T13:32:47+0000
                      mdm: null
                      name: TEST
                      notes: ''
                      needs_attention: false
                      needs_reboot: false
                      next_patch_time: 2025-01-23T06:02:00+0000
                      notification_count: 1
                      organization_id: 54321
                      organizational_unit: ''
                      os_family: Windows
                      os_name: 11 Home
                      os_version: 10.0.26100
                      os_version_id: 13235
                      patch_deferral_count: 1
                      patches: 2
                      pending: true
                      pending_patches: 2
                      policy_status:
                        - id: 12121212
                          organization_id: 54321
                          policy_id: 250624
                          server_id: 123456
                          policy_name: Apply All Patches
                          policy_type_name: patch
                          status: 0
                          result: '{}'
                          create_time: 2025-01-22T20:10:25+0000
                          will_reboot: false
                          pending_count: 0
                          next_remediation: null
                        - id: 34343434
                          organization_id: 54321
                          policy_id: 901250
                          server_id: 123456
                          policy_name: Apply Critical Patches
                          policy_type_name: patch
                          status: 1
                          result: '{}'
                          create_time: 2025-01-22T20:10:25+0000
                          will_reboot: false
                          pending_count: 0
                          next_remediation: null
                      reboot_deferral_count: 0
                      reboot_is_delayed_by_notification: false
                      reboot_is_delayed_by_user: false
                      reboot_notification_count: 0
                      refresh_interval: 360
                      serial_number: AB123ZX
                      server_group_id: 654321
                      server_policies: []
                      status:
                        device_status: not-ready
                        agent_status: disconnected
                        policy_status: non-compliant
                        policy_statuses:
                          - id: 12121212
                            compliant: false
                          - id: 34343434
                            compliant: true
                      tags: []
                      timezone: UTC-0500
                      total_count: 1
                      uptime: '170878'
                      uuid: 1b597490-18f9-4ef4-957d-5e986921ebc1
                server-without-details:
                  summary: Example of a server without details (default)
                  value:
                    - id: 123456
                      agent_version: 1.45.48
                      commands: []
                      compatibility_checks:
                        low_diskspace: false
                        missing_wmi_integrity_check: false
                        missing_powershell: false
                      compliant: false
                      connected: false
                      create_time: 2024-12-19T17:42:48+0000
                      custom_name: ''
                      deleted: false
                      detail: {}
                      display_name: TEST
                      exception: false
                      instance_id: ''
                      ip_addrs:
                        - 123.45.67.210
                      ip_addrs_private:
                        - 192.168.8.135
                        - bcb6:a517:7ac1:7c98:0b51:bcd3:1183:82a8
                        - 3399:59b4:f568:cada:76b6:ee0c:7a0e:7a75
                        - 41c0:fdce:d075:df45:35b2:c995:7caa:73b8
                        - 44ea:9f49:34e0:ddb6:ec1c:a368:b398:4f03
                        - c5e8:d9d2:91fb:7a69:843b:d575:7dc4:2f44
                      is_compatible: true
                      is_delayed_by_notification: false
                      is_delayed_by_user: true
                      last_disconnect_time: 2025-01-22T22:18:21+0000
                      last_logged_in_user: TEST\john.doe
                      last_process_time: 2025-01-22T22:02:14+0000
                      last_refresh_time: 2025-01-22T20:10:26+0000
                      last_scan_failed: true
                      last_update_time: 2024-12-25T13:32:47+0000
                      mdm: null
                      name: TEST
                      notes: ''
                      needs_attention: false
                      needs_reboot: false
                      next_patch_time: null
                      notification_count: 1
                      organization_id: 54321
                      organizational_unit: ''
                      os_family: Windows
                      os_name: 11 Home
                      os_version: 10.0.26100
                      os_version_id: 13235
                      patch_deferral_count: 0
                      patches: 2
                      pending: true
                      pending_patches: 2
                      policy_status:
                        - null
                      reboot_deferral_count: 0
                      reboot_is_delayed_by_notification: false
                      reboot_is_delayed_by_user: false
                      reboot_notification_count: 0
                      refresh_interval: 360
                      serial_number: AB123ZX
                      server_group_id: 654321
                      server_policies: []
                      status: {}
                      tags: []
                      timezone: UTC-0500
                      total_count: 1
                      uptime: '170878'
                      uuid: 1b597490-18f9-4ef4-957d-5e986921ebc1
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Devices
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/servers?o=:orgID&page=0&limit=500"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs  | Retrieve a List of All Devices
          description: Retrieve a detailed list of all devices (server objects) in a given organization, for which the authenticated user has access.
  /servers/{id}:
    get:
      operationId: getServer
      summary: List a specific device
      description: Retrieve a specific device (server object) for the authenticated user.
      parameters:
        - name: id
          in: path
          description: Server ID for the specified device.
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified device.
          required: true
          schema:
            type: integer
        - name: PS_VERSION
          in: query
          description: The version of PowerShell running on the device.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerWithPolicies'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Devices
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/servers/123456?o=0000"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieve a Specific Device
          description: Retrieve a specific device (server object) from an organization, for which the authenticated user has access.
    put:
      operationId: updateDevice
      summary: Updates a device (server object).
      description: Send a JSON object in the request body to update device details.
      parameters:
        - name: id
          in: path
          description: Server ID for the specified device.
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified device.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateRequest'
      responses:
        '204':
          description: Update Successful
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Devices
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{
                "Authorization" = "Bearer $apiKey"
                "Content-Type" = "application/json"
            }
            $body = @"
            {
                "server_group_id": 12345,
                "tags": [
                    "Tag1",
                    "Tag2",
                    "Tag3"
                ],
                "custom_name": null,
                "exception": false
            }
            "@
            $url = "https://console.automox.com/api/servers/123456?o=0000"
            Invoke-WebRequest -Method Put -Uri $url -Headers $headers -Body $body
      x-meta:
        seo:
          title: Automox Console API Docs | Update a Specific Device
          description: Update details for a specific device (server object) from an organization, for which the authenticated user has access.
    delete:
      operationId: deleteDevice
      summary: Deletes a device (server object) from the organization.
      description: '**NOTE:** The associated command queue will be purged. Any pending custom commands for the device are removed.'
      parameters:
        - name: id
          in: path
          description: Server ID for the specified device
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified device
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Delete Successful
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Devices
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/servers/123456?o=0000"
            Invoke-WebRequest -Method Delete -Uri $url -Headers $headers
      x-meta:
        seo:
          title: Automox Console API Docs | Delete a Device
          description: Delete a device (server object) from an organization, for which the authenticated user has access.
  /servers/batch:
    post:
      operationId: batchUpdateDevices
      summary: Updates multiple devices (server objects).
      description: Updates multiple devices (server objects) in a batch.
      parameters:
        - name: o
          in: query
          description: Organization ID for the specified devices
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMultipleDevices'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Devices
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{
                "Authorization" = "Bearer $apiKey"
                "Content-Type" = "application/json"
              }
            $body = @"
              {
                  "devices": [1,2,3],
                  "actions": [
                    {
                      "action": "apply",
                      "attribute": "tags",
                      "value": ["Tag1", "Tag2"]
                    }
                  ]
              }
              "@
            $url = "https://console.automox.com/api/servers/batch?o=0"
            Invoke-WebRequest -Method Post -Uri $url -Headers $headers -Body $body
      x-meta:
        seo:
          title: Automox Console API Docs | Batch Update Multiple Devices
          description: Batch update multiple devices (server objects) in an organization, for which the authenticated user has access.
  /servers/{id}/packages:
    get:
      operationId: getDevicePackages
      summary: List software packages for specific device
      description: Retrieves the software packages for the specified device. Packages include pending updates and currently installed updates/applications.
      parameters:
        - name: id
          in: path
          description: Server ID for the specified device.
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified device
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: The page of results you wish to be returned with page numbers starting at 0. See [About Automox API - Pagination](/developer-portal#pagination)
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: A limit on the number of results to be returned, between 1 and 500, with a default of 500. Use with `page` parameter. See [About Automox API - Pagination](/developer-portal#pagination)
          schema:
            type: integer
            default: 500
            maximum: 500
            minimum: 1
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Packages'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Devices
        - Packages
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/servers/123456/packages?o=0000"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieve Software Packages
          description: Retrieves the software packages for the specified device. Packages include pending updates and currently installed updates/applications.
  /servers/{id}/queues:
    get:
      operationId: getDeviceQueues
      summary: Upcoming commands queue for specific device
      description: Returns the queue of upcoming commands for the specified device.
      parameters:
        - name: id
          in: path
          description: Server ID for the specified device.
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified device.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Command'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Devices
        - Commands
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/servers/123456/queues?o=0000"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieve Command Queue for Device
          description: Retrieves the queue of upcoming commands for the specified device, in a given organization, for which the authenticated user has access.
    post:
      operationId: issueDeviceCommand
      summary: Issue a command to a device
      description: 'Force a device to Scan, Patch, or Reboot for immediate execution. **Note: The `installAllUpdates` option ignores any Policy Filters.** Please use [/policies/{id}/action](https://developer.automox.com/openapi/axconsole/operation/executePolicy) to run a policy immediately.'
      parameters:
        - name: id
          in: path
          description: Server ID for the specified device
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified device
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueCommand'
      responses:
        '201':
          description: Command submitted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Devices
        - Commands
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key' $headers = @{
                "Authorization" = "Bearer $apiKey"
                "Content-Type" = "application/json"
              }
            $body = @{
              command_type_name = "InstallUpdate"
              args = "2e7e5661-f7c8-4a21-a65a-52d0fdf8841a"
              }
            $url = "https://console.automox.com/api/servers/123456/queues?o=0000" Invoke-WebRequest -Method Post -Uri $url -Headers $headers -Body ($body | ConvertTo-Json)
        - lang: PowerShell
          label: PowerShell (with ARGS)
          source: |
            $apiKey = 'your_automox_api_key' $headers = @{
                "Authorization" = "Bearer $apiKey"
                "Content-Type" = "application/json"
              }
            $body = @{
              command_type_name = "InstallUpdate"
              args = "2e7e5661-f7c8-4a21-a65a-52d0fdf8841a"
              }
            $url = "https://console.automox.com/api/servers/123456/queues?o=0000" Invoke-WebRequest -Method Post -Uri $url -Headers $headers -Body ($body | ConvertTo-Json)
      x-meta:
        seo:
          title: Automox Console API Docs | Issue Command to a Device
          description: Issue a command to the specified device, in a given organization, for which the authenticated user has access.
  /servergroups:
    get:
      operationId: getServerGroups
      summary: List all group objects
      description: Retrieves all server group objects for the authenticated user.
      parameters:
        - name: o
          in: query
          description: Organization ID for retrieving groups.
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: The page of results you wish to be returned with page numbers starting at 0. See [About Automox API - Pagination](/developer-portal#pagination)
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: A limit on the number of results to be returned, between 1 and 500, with a default of 500. Use with `page` parameter. See [About Automox API - Pagination](/developer-portal#pagination)
          required: false
          schema:
            type: integer
            default: 500
            maximum: 500
            minimum: 1
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServerGroup'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Groups
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/servergroups?o=0000"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieve All Server Group Objects
          description: Retrieves all server group objects in a given organization, for which the authenticated user has access.
    post:
      operationId: createServerGroup
      summary: Creates a new server group.
      description: Creates a new server group.
      parameters:
        - name: o
          in: query
          description: Organization ID for the created group.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerGroupCreateOrUpdateRequest'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroup'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Groups
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{
                "Authorization" = "Bearer $apiKey"
                "Content-Type" = "application/json"
              }
            $body = @"
              {
                  "name": "API Creation",
                  "refresh_interval": 1440,
                  "parent_server_group_id": 23500,
                  "ui_color": "#FFFFFF",
                  "notes": "2 Policies, White, Force WSUS",
                  "enable_os_auto_update": false,
                  "enable_wsus": true,
                  "wsus_server": "https://myserver.com:8530",
                  "policies": [
                      18627,
                      22645
                  ]
              }
              "@
            $url = "https://console.automox.com/api/servergroups?o=0000"
            Invoke-WebRequest -Method Post -Uri $url -Headers $headers -Body $body
      x-meta:
        seo:
          title: Automox Console API Docs| Create a New Server Group
          description: Create a new server group object in a given organization, for which the authenticated user has access.
  /servergroups/{id}:
    get:
      operationId: getServerGroup
      summary: List specific group object
      description: Returns a specific server group object for the authenticated user.
      parameters:
        - name: id
          in: path
          description: Server Group ID for the specified group.
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified group.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroup'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Groups
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/servergroups/12345?o=0000"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieve a Specific Server Group
          description: Retrieves a specific server group object from a given organization, for which the authenticated user has access.
    put:
      operationId: updateServerGroup
      summary: Updates an existing server group.
      description: Updates server group settings.
      parameters:
        - name: id
          in: path
          description: Server Group ID for the specified group.
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the created group.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerGroupCreateOrUpdateRequest'
      responses:
        '204':
          description: Successful Operation
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Groups
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{
                "Authorization" = "Bearer $apiKey"
                "Content-Type" = "application/json"
            }
            $body = @"
            {
                "name": "API Modified",
                "refresh_interval": 1380,
                "parent_server_group_id": 23500,
                "ui_color": "#E9FF03",
                "notes": "3 Policies, Lemonade Color, Force WinUpdate",
                "enable_os_auto_update": false,
              "enable_wsus": false,
                "policies": [
                    18627,
                    22645,
                    25754
                ]
            }
            "@
            $url = "https://console.automox.com/api/servergroups/123456?o=0000"
            Invoke-WebRequest -Method Put -Uri $url -Headers $headers -Body $body
      x-meta:
        seo:
          title: Automox Console API Docs | Update an Existing Server Group
          description: Update an existing server group object in a given organization, for which the authenticated user has access.
    delete:
      operationId: deleteServerGroup
      summary: Deletes a server group.
      description: '**NOTE:** Any devices that belong to the deleted group will be moved to the organization''s Default Group'
      parameters:
        - name: id
          in: path
          description: Server Group ID for the specified group.
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the created group.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Deletion Successful
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Groups
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/servergroups/12345?o=0000"
            Invoke-WebRequest -Method Delete -Uri $url -Headers $headers
      x-meta:
        seo:
          title: Automox Console API Docs | Delete an Existing Server Group
          description: Delete an existing server group object from a given organization, for which the authenticated user has access.
  /orgs:
    get:
      operationId: getOrganizations
      summary: Organization details
      description: Returns a detailed list of all organizations for the authenticated user.
      parameters:
        - name: page
          in: query
          description: The page of results you wish to be returned with page numbers starting at 0. See [About Automox API - Pagination](/developer-portal#pagination)
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: A limit on the number of results to be returned, between 1 and 500, with a default of 500. Use with `page` parameter. See [About Automox API - Pagination](/developer-portal#pagination)
          schema:
            type: integer
            default: 500
            maximum: 500
            minimum: 1
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Organizations
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/orgs"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieves a list of all organizations.
          description: Retrieves a detailed list of all Automox organizations for which the authenticated user has access.
  /orgs/{id}/packages:
    get:
      operationId: getOrganizationPackages
      summary: List all software packages for all devices
      description: This will list all pending/installed updates, and all installed applications, for all devices in a given organization.
      parameters:
        - name: id
          in: path
          description: Organization ID for retrieving package list.
          required: true
          schema:
            type: integer
        - name: includeUnmanaged
          in: query
          description: Include applications Automox does not currently support for patching.
          required: false
          schema:
            type: integer
            format: int64
            enum:
              - 0
              - 1
        - name: awaiting
          in: query
          description: 'Filter based installation status of package. `awaiting=1`:  Packages that are currently available but not installed. `awaiting=0`:  Packages that are already installed.'
          required: false
          schema:
            type: integer
            format: int64
            enum:
              - 0
              - 1
        - name: o
          in: query
          description: Organization ID of the target organization.
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: The page of results you wish to be returned with page numbers starting at 0. See [About Automox API - Pagination](/developer-portal#pagination)
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: A limit on the number of results to be returned, between 1 and 500, with a default of 500. Use with `page` parameter. See [About Automox API - Pagination](/developer-portal#pagination)
          required: false
          schema:
            type: integer
            default: 500
            maximum: 500
            minimum: 1
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Packages'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Packages
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = 'https://console.automox.com/api/orgs/0000/packages?o=0000&awaiting=1&includeUnmanaged=0'
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieve All Software Packages
          description: Retrieve all software packages for all devices. This will list all pending/installed updates, and all installed applications, for all devices.
  /orgs/{id}/api_keys:
    get:
      operationId: getOrganizationApiKeys
      summary: List all api key objects for organization
      description: '**PREREQUISITES:** You must have **Full Administrator** privileges! This endpoint allows you to list all keys for an organization.'
      parameters:
        - name: id
          in: path
          description: The ID of the organization to list keys for.
          required: true
          schema:
            type: integer
        - name: limit
          in: query
          description: A limit on the number of results to be returned, between 1 and 500, with a default of 500. Use with `page` parameter. See [About Automox API - Pagination](/developer-portal#pagination)
          required: false
          schema:
            type: integer
            default: 500
            maximum: 500
            minimum: 1
        - name: page
          in: query
          description: The page of results you wish to be returned with page numbers starting at 0. See [About Automox API - Pagination](/developer-portal#pagination)
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
                  size:
                    type: integer
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - API Keys
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/orgs/{0000}/api_keys"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieve All API Key Objects.
          description: Retrieves all API key objects for a given organization. This does NOT retrieve the encrypted portion of the API key.
  /policies:
    get:
      operationId: getPolicies
      summary: List all policy objects
      description: Retrieves a list of all policy objects for the authenticated user.
      parameters:
        - name: o
          in: query
          description: Organization ID for retrieving policies
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: The page of results you wish to be returned with page numbers starting at 0. See [About Automox API - Pagination](/developer-portal#pagination)
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: A limit on the number of results to be returned, between 1 and 500, with a default of 500. Use with `page` parameter. See [About Automox API - Pagination](/developer-portal#pagination)
          schema:
            type: integer
            default: 500
            maximum: 500
            minimum: 1
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/PatchPolicy'
                    - $ref: '#/components/schemas/RequiredSoftwarePolicy'
                    - $ref: '#/components/schemas/CustomPolicy'
              example:
                - id: 167240
                  uuid: 110a7065-5910-47e5-9e26-cd9ca07c9150
                  name: Apply All Patches
                  policy_type_name: patch
                  organization_id: 634520
                  configuration:
                    auto_patch: true
                    patch_rule: all
                    auto_reboot: false
                    filter_type: 'null'
                    notify_user: false
                    device_filters: []
                    include_optional: false
                    notify_reboot_user: true
                    missed_patch_window: true
                    install_deferral_enabled: true
                    notify_deferred_reboot_user: true
                    notify_user_message_timeout: 15
                    custom_notification_max_delays: 3
                    pending_reboot_deferral_enabled: true
                    custom_notification_patch_message: 'System Update: An important update will be installed.'
                    notify_user_auto_deferral_enabled: true
                    custom_notification_reboot_message: An important update will be installed; reboot may be required.
                    custom_notification_deferment_periods:
                      - 1
                      - 2
                      - 4
                    custom_notification_patch_message_mac: 'System Update: An important update will be installed.'
                    custom_notification_reboot_message_mac: An important update will be installed; reboot may be required.
                    custom_pending_reboot_notification_message: 'Updates require reboot: Please save your work.'
                    notify_deferred_reboot_user_message_timeout: 15
                    custom_pending_reboot_notification_max_delays: 6
                    custom_pending_reboot_notification_message_mac: 'Updates require reboot: Please save your work.'
                    notify_deferred_reboot_user_auto_deferral_enabled: true
                    custom_pending_reboot_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    secrets: {}
                  schedule_days: 254
                  schedule_weeks_of_month: 62
                  schedule_months: 8190
                  schedule_time: '03:00'
                  use_scheduled_timezone: false
                  notes: ''
                  create_time: 2023-03-07T17:11:170000
                  server_groups:
                    - 102243
                    - 134198
                  server_count: 2
                  status: inactive
                  community_worklet_id: null
                  community_worklet_uuid: null
                  policy_template_id: null
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Policies
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/policies?o=0000"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Docs | Retrieve a list of all policy objects.
          description: Retrieve a detailed list of all policy objects for a given organization, for which the authenticated user has access.
    post:
      operationId: createPolicy
      summary: Create a new policy
      description: Creates a new policy for a specified organization. For more info on filter types and scheduling, see [Policy and Device Filters, and Scheduling](/developer-portal/policy_filters_schedule).
      parameters:
        - name: o
          in: query
          description: Organization ID for the specified policy.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              discriminator:
                propertyName: policy_type_name
                mapping:
                  patch: '#/components/schemas/PatchPolicyRequest'
                  custom: '#/components/schemas/CustomPolicyRequest'
                  required_software: '#/components/schemas/RequiredSoftwarePolicyRequest'
              examples:
                - name: Test Patch All Policy
                  policy_type_name: patch
                  organization_id: 9999
                  schedule_days: 42
                  schedule_weeks_of_month: 20
                  schedule_months: 4680
                  schedule_time: '12:00'
                  use_scheduled_timezone: false
                  configuration:
                    auto_patch: true
                    notify_user: true
                    auto_reboot: true
                    patch_rule: all
                    filter_type: 'null'
                    missed_patch_window: false
                    device_filters_enabled: true
                    device_filters:
                      - field: tag
                        op: in
                        value:
                          - Windows
                          - Win10
                    secrets:
                      my_secret_name:
                        id: 705d95c8-659a-4344-8fab-5470cbf077e6
                    include_optional: true
                    notify_reboot_user: true
                    notify_deferred_reboot_user: true
                    custom_notification_patch_message: Important updates are going to be installed!
                    custom_notification_patch_message_mac: Important updates are going to be installed!
                    custom_notification_reboot_message: Reboot needed to finish installing updates!
                    custom_notification_reboot_message_mac: Reboot needed to finish installing updates!
                    custom_notification_max_delays: 3
                    custom_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    custom_pending_reboot_notification_message: Your computer needs to reboot to install updates!
                    custom_pending_reboot_notification_message_mac: Your computer needs to reboot to install updates!
                    custom_pending_reboot_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    notify_user_message_timeout: 15
                    notify_deferred_reboot_user_message_timeout: 15
                    notify_user_auto_deferral_enabled: true
                    notify_deferred_reboot_user_auto_deferral_enabled: true
                  server_groups:
                    - 250624
                    - 90125
                  notes: Here are some notes
                - name: Test Required Software Policy
                  policy_type_name: required_software
                  organization_id: 9999
                  schedule_days: 42
                  schedule_weeks_of_month: 20
                  schedule_months: 4680
                  schedule_time: '12:00'
                  use_scheduled_timezone: false
                  configuration:
                    os_family: Windows
                    package_name: NotePadPlusPlus
                    package_version: 7.8.4
                    installation_code: .\npp.7.8.4.Installer.x64.exe /S
                    secrets:
                      my_secret_name:
                        id: 705d95c8-659a-4344-8fab-5470cbf077e6
                  notify_user: true
                  server_groups:
                    - 250624
                    - 90125
                  notes: Here are some notes
                - name: Advanced Policy
                  policy_type_name: patch
                  organization_id: 9999
                  schedule_days: 42
                  schedule_weeks_of_month: 20
                  schedule_months: 4680
                  schedule_time: '00:00'
                  use_scheduled_timezone: false
                  configuration:
                    auto_patch: true
                    auto_reboot: true
                    patch_rule: advanced
                    advanced_filter:
                      - left: patch-os
                        right: windows
                        condition: is
                      - left: patch-source
                        right: windowsupdate
                        condition: is
                    missed_patch_window: false
                    device_filters_enabled: true
                    device_filters:
                      - field: tag
                        op: in
                        value:
                          - Windows
                          - Win10
                    secrets:
                      my_secret_name:
                        id: 705d95c8-659a-4344-8fab-5470cbf077e6
                    include_optional: true
                    notify_reboot_user: true
                    notify_deferred_reboot_user: true
                    custom_notification_patch_message: Important updates are going to be installed!
                    custom_notification_patch_message_mac: Important updates are going to be installed!
                    custom_notification_reboot_message: Reboot needed to finish installing updates!
                    custom_notification_reboot_message_mac: Reboot needed to finish installing updates!
                    custom_notification_max_delays: 3
                    custom_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    custom_pending_reboot_notification_message: Your computer needs to reboot to install updates!
                    custom_pending_reboot_notification_message_mac: Your computer needs to reboot to install updates!
                    custom_pending_reboot_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    notify_user_message_timeout: 15
                    notify_deferred_reboot_user_message_timeout: 15
                    notify_user_auto_deferral_enabled: true
                    notify_deferred_reboot_user_auto_deferral_enabled: true
                    notify_user: true
                  server_groups:
                    - 250624
                    - 90125
                  notes: Here are some notes
                - name: Manual Approval
                  policy_type_name: patch
                  organization_id: 9999
                  schedule_days: 42
                  schedule_weeks_of_month: 20
                  schedule_months: 4680
                  schedule_time: '12:00'
                  use_scheduled_timezone: false
                  configuration:
                    auto_patch: true
                    patch_rule: manual
                    auto_reboot: true
                    notify_user: true
                    include_optional: false
                    notify_reboot_user: true
                    secrets:
                      my_secret_name:
                        id: 705d95c8-659a-4344-8fab-5470cbf077e6
                    notify_deferred_reboot_user: true
                    custom_notification_max_delays: 3
                    custom_notification_patch_message: 'System Update: An important update will be installed.'
                    custom_notification_reboot_message: An important update will be installed; reboot may be required.
                    custom_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    custom_notification_patch_message_mac: 'System Update: An important update will be installed.'
                    custom_notification_reboot_message_mac: An important update will be installed; reboot may be required.
                    custom_pending_reboot_notification_message: 'Updates require reboot: Please save your work.'
                    notify_deferred_reboot_user_message_timeout: 15
                    custom_pending_reboot_notification_max_delays: 3
                    custom_pending_reboot_notification_message_mac: 'Updates require reboot: Please save your work.'
                    notify_deferred_reboot_user_auto_deferral_enabled: false
                    custom_pending_reboot_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                  server_groups:
                    - 250624
                    - 90125
                  notes: Here are some notes
              oneOf:
                - $ref: '#/components/schemas/PatchPolicyRequest'
                - $ref: '#/components/schemas/CustomPolicyRequest'
                - $ref: '#/components/schemas/RequiredSoftwarePolicyRequest'
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Policies
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{
                "Authorization" = "Bearer $apiKey"
                "Content-Type" = "application/json"
            }
            $url = "https://console.automox.com/api/policies?o=9999"
            $body = @"
            {
              "name": "Patch All Policy",
              "policy_type_name": "patch",
              "organization_id": 9999,
              "schedule_days": 42,
              "schedule_weeks_of_month": 20,
              "schedule_months": 4680,
              "schedule_time": "12:00",
              "configuration": {
                  "auto_patch": true,
                  "notify_user": true,
                  "auto_reboot": true,
                  "patch_rule": "all",
                  "filter_type": "all",
                  "missed_patch_window": false,
                  "device_filters_enabled": true,
                  "device_filters": [
                      {
                          "field": "tag",
                          "op": "in",
                          "value": [
                              "Windows",
                              "Win10"
                          ]
                      }
                  ],
                  "secrets": {
                      "my_secret_name": {
                        "id": "705d95c8-659a-4344-8fab-5470cbf077e6"
                      }
                  },
                  "include_optional": true,
                  "notify_reboot_user": true,
                  "notify_deferred_reboot_user": true,
                  "custom_notification_patch_message": "Important updates are going to be installed!",
                  "custom_notification_patch_message_mac": "Important updates are going to be installed!",
                  "custom_notification_reboot_message": "Reboot needed to finish installing updates!",
                  "custom_notification_reboot_message_mac": "Reboot needed to finish installing updates!",
                  "custom_notification_max_delays": 3,
                  "custom_notification_deferment_periods": [
                      1,
                      4,
                      8
                  ],
                  "custom_pending_reboot_notification_message": "Your computer needs to reboot to install updates!",
                  "custom_pending_reboot_notification_message_mac": "Your computer needs to reboot to install updates!",
                  "custom_pending_reboot_notification_deferment_periods": [
                      1,
                      4,
                      8
                  ],
                  "notify_user_message_timeout": 15,
                  "notify_deferred_reboot_user_message_timeout": 15,
                  "notify_user_auto_deferral_enabled": true,
                  "notify_deferred_reboot_user_auto_deferral_enabled": true
              },
              "notify_user": true,
              "server_groups": [
                  250624,
                  90125
              ],
              "notes": "Here are some notes"
            }
            "@
            Invoke-WebRequest -Method Post -Uri $url -Headers $headers -Body $body
      x-meta:
        seo:
          title: Automox Console API Documentation | Create a New Policy
          description: Create a new policy for a given organization, for which the authenticated user has access. See Policy and Device Filters, and Scheduling for more info.
  /policies/{id}:
    get:
      operationId: getPolicy
      summary: List specific policy object
      description: Returns a specific policy object for the authenticated user.
      parameters:
        - name: id
          in: path
          description: Policy ID for the specified policy
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified policy
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/PatchPolicy'
                  - $ref: '#/components/schemas/CustomPolicy'
                  - $ref: '#/components/schemas/RequiredSoftwarePolicy'
              example:
                id: 456321
                uuid: a9bee93b-5458-417f-87b9-bcda9e88afe
                name: Apply all Linux patches not requiring reboot
                policy_type_name: patch
                organization_id: 634520
                configuration:
                  filters:
                    - '*-firmware-*'
                    - '*dbus-*'
                    - '*systemd-*'
                    - '*gnutls.*'
                    - '*gnutls-*'
                    - '*glibc.*'
                    - '*glibc-*'
                    - '*kernel-*'
                    - systemd
                    - gnutls.x86_64
                    - openssl-libs.x86_64
                    - openssl-pkcs11.x86_64
                    - udev
                    - dbus
                  auto_patch: true
                  patch_rule: filter
                  auto_reboot: false
                  filter_type: exclude
                  device_filters:
                    - op: in
                      field: os_family
                      value:
                        - Linux
                  notify_reboot_user: false
                  device_filters_enabled: true
                  notify_deferred_reboot_user: false
                  notify_user_message_timeout: 15
                  custom_notification_max_delays: 0
                  custom_notification_patch_message: 'System Update: An important update will be installed.'
                  notify_user_auto_deferral_enabled: true
                  custom_notification_reboot_message: An important update will be installed; reboot may be required.
                  custom_notification_deferment_periods:
                    - 1
                    - 4
                    - 8
                  custom_notification_patch_message_mac: 'System Update: An important update will be installed.'
                  custom_notification_reboot_message_mac: An important update will be installed; reboot may be required.
                  custom_pending_reboot_notification_message: 'Updates require reboot: Please save your work.'
                  notify_deferred_reboot_user_message_timeout: 15
                  custom_pending_reboot_notification_max_delays: 6
                  custom_pending_reboot_notification_message_mac: 'Updates require reboot: Please save your work.'
                  notify_deferred_reboot_user_auto_deferral_enabled: true
                  custom_pending_reboot_notification_deferment_periods:
                    - 1
                    - 4
                    - 8
                  secrets: {}
                schedule_days: 254
                schedule_weeks_of_month: 62
                schedule_months: 8190
                schedule_time: '03:00'
                use_scheduled_timezone: false
                notes: Schedule regular updates to software that don’t require a reboot
                create_time: 2023-03-12T17:40:47+0000
                server_groups:
                  - 102245
                  - 189887
                server_count: 2
                status: inactive
                community_worklet_id: null
                community_worklet_uuid: null
                policy_template_id: 9
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Policies
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{ "Authorization" = "Bearer $apiKey" }
            $url = "https://console.automox.com/api/policies/12345?o=0000"
            $response = (Invoke-WebRequest -Method Get -Uri $url -Headers $headers).Content
      x-meta:
        seo:
          title: Automox Console API Documentation | Retrieve a Specific Policy
          description: Retrieve a specific policy object from a given organization for which the authenticated user has access.
    put:
      operationId: updatePolicy
      summary: Updates a specific policy object for the authenticated user.
      description: Updates a specific policy object for the authenticated user. For more info on filter types and scheduling, see [Policy and Device Filters, and Scheduling](/developer-portal/policy_filters_schedule).
      parameters:
        - name: id
          in: path
          description: Policy ID for the specified policy
          required: true
          schema:
            type: integer
        - name: o
          in: query
          description: Organization ID for the specified policy
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              discriminator:
                propertyName: policy_type_name
                mapping:
                  patch: '#/components/schemas/PatchPolicyRequest'
                  custom: '#/components/schemas/CustomPolicyRequest'
                  required_software: '#/components/schemas/RequiredSoftwarePolicyRequest'
              examples:
                - name: Test Patch All Policy
                  policy_type_name: patch
                  organization_id: 9999
                  schedule_days: 42
                  schedule_weeks_of_month: 20
                  schedule_months: 4680
                  schedule_time: '12:00'
                  use_scheduled_timezone: false
                  configuration:
                    auto_patch: true
                    notify_user: true
                    auto_reboot: true
                    patch_rule: all
                    filter_type: 'null'
                    missed_patch_window: false
                    device_filters_enabled: true
                    device_filters:
                      - field: tag
                        op: in
                        value:
                          - Windows
                          - Win10
                    secrets:
                      my_secret_name:
                        id: 705d95c8-659a-4344-8fab-5470cbf077e6
                    include_optional: true
                    notify_reboot_user: true
                    notify_deferred_reboot_user: true
                    custom_notification_patch_message: Important updates are going to be installed!
                    custom_notification_patch_message_mac: Important updates are going to be installed!
                    custom_notification_reboot_message: Reboot needed to finish installing updates!
                    custom_notification_reboot_message_mac: Reboot needed to finish installing updates!
                    custom_notification_max_delays: 3
                    custom_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    custom_pending_reboot_notification_message: Your computer needs to reboot to install updates!
                    custom_pending_reboot_notification_message_mac: Your computer needs to reboot to install updates!
                    custom_pending_reboot_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    notify_user_message_timeout: 15
                    notify_deferred_reboot_user_message_timeout: 15
                    notify_user_auto_deferral_enabled: true
                    notify_deferred_reboot_user_auto_deferral_enabled: true
                  server_groups:
                    - 250624
                    - 90125
                  notes: Here are some notes
                - name: Test Required Software Policy
                  policy_type_name: required_software
                  organization_id: 9999
                  schedule_days: 42
                  schedule_weeks_of_month: 20
                  schedule_months: 4680
                  schedule_time: '12:00'
                  use_scheduled_timezone: true
                  configuration:
                    os_family: Windows
                    package_name: NotePadPlusPlus
                    package_version: 7.8.4
                    installation_code: .\npp.7.8.4.Installer.x64.exe /S
                    secrets:
                      my_secret_name:
                        id: 705d95c8-659a-4344-8fab-5470cbf077e6
                  notify_user: true
                  server_groups:
                    - 250624
                    - 90125
                  notes: Here are some notes
                - name: Advanced Policy
                  policy_type_name: patch
                  organization_id: 9999
                  schedule_days: 42
                  schedule_weeks_of_month: 20
                  schedule_months: 4680
                  schedule_time: '00:00'
                  use_scheduled_timezone: false
                  configuration:
                    auto_patch: true
                    auto_reboot: true
                    patch_rule: advanced
                    advanced_filter:
                      - left: patch-os
                        right: windows
                        condition: is
                      - left: patch-source
                        right: windowsupdate
                        condition: is
                    missed_patch_window: false
                    device_filters_enabled: true
                    device_filters:
                      - field: tag
                        op: in
                        value:
                          - Windows
                          - Win10
                    secrets:
                      my_secret_name:
                        id: 705d95c8-659a-4344-8fab-5470cbf077e6
                    include_optional: true
                    notify_reboot_user: true
                    notify_deferred_reboot_user: true
                    custom_notification_patch_message: Important updates are going to be installed!
                    custom_notification_patch_message_mac: Important updates are going to be installed!
                    custom_notification_reboot_message: Reboot needed to finish installing updates!
                    custom_notification_reboot_message_mac: Reboot needed to finish installing updates!
                    custom_notification_max_delays: 3
                    custom_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    custom_pending_reboot_notification_message: Your computer needs to reboot to install updates!
                    custom_pending_reboot_notification_message_mac: Your computer needs to reboot to install updates!
                    custom_pending_reboot_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    notify_user_message_timeout: 15
                    notify_deferred_reboot_user_message_timeout: 15
                    notify_user_auto_deferral_enabled: true
                    notify_deferred_reboot_user_auto_deferral_enabled: true
                    notify_user: true
                  server_groups:
                    - 250624
                    - 90125
                  notes: Here are some notes
                - name: Manual Approval
                  policy_type_name: patch
                  organization_id: 9999
                  schedule_days: 42
                  schedule_weeks_of_month: 20
                  schedule_months: 4680
                  schedule_time: '12:00'
                  use_scheduled_timezone: false
                  configuration:
                    auto_patch: true
                    patch_rule: manual
                    auto_reboot: true
                    notify_user: true
                    include_optional: false
                    notify_reboot_user: true
                    secrets:
                      my_secret_name:
                        id: 705d95c8-659a-4344-8fab-5470cbf077e6
                    notify_deferred_reboot_user: true
                    custom_notification_max_delays: 3
                    custom_notification_patch_message: 'System Update: An important update will be installed.'
                    custom_notification_reboot_message: An important update will be installed; reboot may be required.
                    custom_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                    custom_notification_patch_message_mac: 'System Update: An important update will be installed.'
                    custom_notification_reboot_message_mac: An important update will be installed; reboot may be required.
                    custom_pending_reboot_notification_message: 'Updates require reboot: Please save your work.'
                    notify_deferred_reboot_user_message_timeout: 15
                    custom_pending_reboot_notification_max_delays: 3
                    custom_pending_reboot_notification_message_mac: 'Updates require reboot: Please save your work.'
                    notify_deferred_reboot_user_auto_deferral_enabled: false
                    custom_pending_reboot_notification_deferment_periods:
                      - 1
                      - 4
                      - 8
                  server_groups:
                    - 250624
                    - 90125
                  notes: Here are some notes
              oneOf:
                - $ref: '#/components/schemas/PatchPolicyRequest'
                - $ref: '#/components/schemas/CustomPolicyRequest'
                - $ref: '#/components/schemas/RequiredSoftwarePolicyRequest'
      responses:
        '204':
          description: Update Successful
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/UnauthorizedAction'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      tags:
        - Policies
      x-codeSamples:
        - lang: PowerShell
          source: |
            $apiKey = 'your_automox_api_key'
            $headers = @{
                "Authorization" = "Bearer $apiKey"
                "Content-Type" = "application/json"
              }
            $url = "https://console.automox.com/api/policies/12345?o=0000"
            $body = @"
              {
                "name": "API Created",
                "policy_type_name": "patch",
                "organization_id": 0000,
                "configuration": {
                  "auto_patch": false,
                  "auto_reboot": true,
                  "notify_reboot_user": true,
                  "notify_user": true,
                  "missed_patch_window": true,
                  "patch_rule": "advanced",
                  "filters": ["*KB2267602*","*Exclude This Too*"],
                  "severity_filter": ["low","medium","high","critical","none","unknown"],
                  "include_optional": true,
                  "custom_notification_patch_message": "Notification Text before normal patch - Windows - Max 125 Char",
                  "custom_notification_reboot_message": "Notification Text before reboot patch - Windows - Max 125 Char",
                  "custom_notification_patch_message_mac": "Notification Text before normal patch - Mac - Max 70 Char",
                  "custom_notification_reboot_message_mac": "Notification Text before reboot patch - Mac - Max 70 Char",
                  "custom_notification_max_delays": 3,
                  "custom_notification_deferment_periods": [1, 4, 8],
                  "notify_user_message_timeout": 120,
                  "notify_user_auto_deferral_enabled": false,
                  "notify_deferred_reboot_user_message_timeout": 120,
                  "notify_deferred_reboot_user_auto_deferral_enabled": true,
                  "advanced_filter": [
                          {
                              "left": "patch-source",
                              "right": "windowsupdate",
                              "condition": "is"
                          },
                          {
                              "left": "severity",
                              "right": "medium",
                              "condition": "greater-than-or-equal-to"
                          }
                      ],
                      "device_filters": [
                          {
                              "field": "os_family",
                              "op": "in",
                              "value": ["Windows"]
                          },
                          {
                              "field": "hostname",
                              "op": "like_any",
[...]
